body {
	margin: 0; padding: 0;
}

header#banner, footer {
	background: rgba(16,108,22,0.8); 
	width: 100%; 
	height: 50px;
	color: #FFFFFF;
	line-height: 50px;
}

footer{
	text-align: center;
}

div#googleMap{
	width:100%;
	height:70vh;
	min-height: 400px;
}
.container {margin-top: 40px;}
